<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chapt7KyleL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40328B321C83F0EE00C1AB6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40328B481C83F0EE00C1AB6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40328B531C83F0EE00C1AB6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
